{% extends 'index.html' %} 

{% block modal %} 
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{error}}</h5>
        </div>
        <div class="modal-body">
          {{msg}}
        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-primary">Close</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %} 
  <script>
    $(document).ready(function(){
        console.log("ready")
        $("#exampleModal").modal("show")
    })
  </script>
{% endblock %}